{% assign compare_price_exists = price_compare %}

<div class="card">
  <div class="card__image">
    <a href="{{ title_link }}">
      <img src="{{ featured_image.src | img_url: '300x300' }}" alt="{{ featured_image.alt | escape }}">
    </a>
  </div>
  <div class="card__content">
    <h3 class="card__title">
      <a href="{{ title_link  }}">{{ title }}</a>
    </h3>
    <div class="card__price">
      <span class="card__price--current">{{ price | money }}</span>
    </div>
  </div>
</div>
