

{{ 'product-benefits.css' | asset_url | stylesheet_tag }}


<div class="product_benefit">
    <div class="left">
        <div class="item item1">
            <img src="" alt="" style="background-color:{{ section.settings.icon_color }}">
            <p>
                Vet & nutritionist <br/> formulated
            </p>
        </div>
        <div class="item item2">
            <img src="" alt="" style="background-color:{{ section.settings.icon_color }}">
            <p>
                Plant based 100% <br/> natural ingredients
            </p>
        </div>
        <div class="item item3">
            <img src="" alt="" style="background-color:{{ section.settings.icon_color }}">
            <p>
                No fillers & additives, <br/> low fat & calorie
            </p>
        </div>
    </div>
    <div class="right">
        <div class="item item1">
            <img src="" alt="" style="background-color:{{ section.settings.icon_color }}">
            <p>
                Clinically proven <br/> ingredients
            </p>
        </div>
        <div class="item item2">
            <img src="" alt="" style="background-color:{{ section.settings.icon_color }}">
            <p>
                Hypoallergenic, <br/> grain & wheat free
            </p>
        </div>
        <div class="item item3">
            <img src="" alt="" style="background-color:{{ section.settings.icon_color }}">
            <p>
                Recyclable <br/> eco-friendly pack
            </p>
        </div>
    </div>
    <div class="center" style="background-image:url('{{ section.settings.bg-image }}">
  
    </div>
</div>


{% schema %}
{
  "name": "Benefit block",
  "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "color",
        "id": "icon_color",
        "label": "Icon color",
        "default": "#fac3c8"
      }
  ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}









