{{ 'product.css' | asset_url | stylesheet_tag }}

{% assign product = product %}

<div class="product__container">
  <div class="product__image">
    <img src="{{ product.images.first.src | img_url: '800x800' }}" alt="{{ product.title }}" loading="lazy">
  </div>
  <div class="product__info">
    <h1>{{ product.title }}</h1>
    <p class="product__price">{{ product.price | money }}</p>
    <p class="product__description">{{ product.description }}</p>
    <form action="/#" method="post">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
      <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
    </form>
  </div>
</div>
